<div id="content" class="container-fluid" ng-controller="AdjustmentController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
        <span class="chip-normal status-3" aria-label="Add" ng-if="stocktake && selectedItemList">
            <span translate>Diff virtual-physical Qty</span><span translate>:</span>
            {{selectedItemList.itemVirtualstock-selectedItemList.itemSoh}}
        </span>
        <span class="chip-normal status-3" aria-label="Add" ng-if="selectedItemList">
            <span translate>Virtual Qty</span><span translate>:</span> {{selectedItemList.itemVirtualstock}}
        </span>
        <span class="chip-normal status-3" aria-label="Add" ng-if="selectedItemList">
            <span translate>Physical Qty</span><span translate>:</span> {{selectedItemList.itemSoh}}
        </span>
    </div>
    <form ng-submit="submit();">
        <md-card>
            <md-card-content>
                <div layout="row" layout-xs="column" ng-show="!stocktake">
                    <md-radio-group ng-model="transactionType" layout="row" required>
                        <md-radio-button value="padj" class="md-primary">+ <span translate>adjustment</span>
                        </md-radio-button>
                        <md-radio-button value="nadj" class="md-primary">- <span translate>adjustment</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Batch Number</label>
                        <md-select ng-model="selectedBatch" required ng-change="getSpecificItemList(batch_id)">
                            <md-option ng-repeat="b in batches" ng-value="b" ng-selected="b.id == batch_id">
                                {{b.itemBatch}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate ng-if="stocktake">Counted Quantity</label>
                        <label translate ng-if="!stocktake">Quantity</label>
                        <input type="number" min="0" ng-model="adjustment.quantity" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" ng-show="stocktake">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>The adjustment that will will be operated:</label>
                        <input type="number" min="-99999" ng-model="adjustment.stocktakedifference" disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                        <label translate>Reason</label>
                        <textarea ng-model="adjustment.reason" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" layout-xs="column">
            <span id="loading_submit" style="visibility: hidden;" translate>Please wait...</span>
        </div>
        <div layout="row" layout-xs="column">
            <md-button class="md-raised md-primary" type="submit" aria-label="Add">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                <span translate>Save</span>
            </md-button>
            <md-button aria-label="Cancel" ng-click="returnToPrevious()">
                <md-icon>close</md-icon>
                <span translate>Cancel</span>
            </md-button>

        </div>
    </form>
</div>