<div id="content" class="container-fluid" ng-controller="AdjustmentController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
    </div>
    <md-card>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-radio-group ng-model="vm.adjustment.toggle" layout="row">
                    <md-radio-button value="add" class="md-primary">+ adjustment</md-radio-button>
                    <md-radio-button value="remove" class="md-primary">- adjustment</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Batch number</label>
                    <md-select ng-model="vm.adjustment.batch.id">
                        <md-option ng-repeat="b in vm.batchs" ng-value="b.id" ng-selected="b.id == adjustment_batch_id">
                            {{b.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Quantity</label>
                    <input type="number" min="0" ng-model="vm.adjustment.qty">
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                    <label translate>Reason</label>
                    <textarea ng-model="vm.adjustment.description" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;">Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="adjustment()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
        <a href="index.html#!/inventory">
            <md-button class="md-raised" aria-label="Add">
                <md-icon>close</md-icon>
                Cancel
            </md-button>
        </a>
    </div>
</div>