<div id="content" class="container-fluid" ng-controller="InventoryController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
        <a href="index.html#!/">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon>Back
            </md-button>
        </a>
    </div>
    <md-content>
        <md-tabs class="md-primary" md-dynamic-height md-border-bottom>
            <md-tab label="View on stock">
                <md-content class="md-padding">
                    <div class="md-body-1">
                        <md-card>
                            <md-table-container class="container" fixed-column-table>
                                <table md-table md-progress="promise">
                                    <thead md-head>
                                        <tr md-row>
                                            <th><span translate>Drug code</span></th>
                                            <th><span translate>Designation</span></th>
                                            <th><span translate>Min</span></th>
                                            <th><span translate>Max</span></th>
                                            <th><span translate>Available qty</span></th>
                                            <th><span translate>Physical qty</span></th>
                                            <th><span translate>Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row data-ng-repeat="stock in viewstocks">
                                            <td>{{stock.code}}</td>
                                            <td>{{stock.name}}</td>
                                            <td>{{stock.min}}</td>
                                            <td>{{stock.max}}</td>
                                            <td>{{stock.avail}}</td>
                                            <td>{{stock.phys}}</td>
                                            <td>
                                                <button class="md-fab md-mini md-primary md-button" type="button"
                                                    aria-label="Add" ng-click="openView(stock)">
                                                    <md-icon class="material-icons" role="img" aria-hidden="true">
                                                        visibility</md-icon>
                                                    <md-tooltip md-direction="top"><span translate>View</span>
                                                    </md-tooltip>
                                                </button>
                                                <!-- <button class="md-fab md-mini md-primary md-button" type="button"
                                                    aria-label="Remove" ng-click="openEdit(drug)">
                                                    <md-icon class="material-icons" role="img" aria-hidden="true">edit
                                                    </md-icon>
                                                    <md-tooltip md-direction="top"><span translate>Edit</span>
                                                    </md-tooltip>
                                                </button>
                                                <button class="md-fab md-mini md-primary md-button" type="button"
                                                    aria-label="Remove" ng-click="showConfirm($event,drug)">
                                                    <md-icon class="material-icons" role="img" aria-hidden="true">delete
                                                    </md-icon>
                                                    <md-tooltip md-direction="top"><span translate>Delete</span>
                                                    </md-tooltip>
                                                </button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{drugs.length}}"
                                md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                                md-on-paginate="logPagination" md-label="{rowsPerPage: 'Rows per page'}">
                            </md-table-pagination>
                        </md-card>
                        <h2 class="md-display-1">View details</h2>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Stock at risk">
                <md-content class="md-padding">
                    <h2 class="md-display-1">Stock at risk information</h2>
                    <p class="md-body-1">
                        Morbi viverra, ante vel
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="Adjustements">
                <md-content class="md-padding">
                    <h2 class="md-display-1">Adjustements information</h2>
                    <p class="md-body-1">
                        Integer turpis erat
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="Stocktakes">
                <md-content class="md-padding">
                    <h2 class="md-display-1">Stocktakes information</h2>
                    <p class="md-body-1">
                        Integer turpis erat
                    </p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>