<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""><md-icon>shopping_cart</md-icon> {{"pharmacy.reception.title" | translate}} </h1>
        <a href="index.html#!/inventory">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon>{{"pharmacy.back" | translate}}
            </md-button>
        </a>
        <a href="index.html#!/reception/0">
            <md-button class="md-raised  md-primary">
                <md-icon>add</md-icon> {{"pharmacy.reception.newReception" | translate}}
            </md-button>
        </a>
    </div>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!loading">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="searchText" placeholder="{{'pharmacy.order.search' | translate}}">
            </form>
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th><span >{{"pharmacy.reception.date" | translate}}</span></th>
                        <th><span >{{"pharmacy.reception.receivedBy" | translate}}</span></th>
                        <th><span >{{"pharmacy.reception.order" | translate}}</span></th>
                        <th><span >{{"pharmacy.actions" | translate}}</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        data-ng-repeat="reception in receptions|filter:search | limitTo: query.limit : (query.page -1) * query.limit">
                        <td>{{reception.date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{reception.person.display}}</td>
                        <td>{{reception.pharmacyOrder.name}}</td>
                        <td width="200px">
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="View"
                                ng-click="viewReception(reception)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">edit</md-icon>
                                <md-tooltip md-direction="top"><span translate>View</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="options.limit" md-page="query.page" md-total="{{receptions.length}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination" md-label="{rowsPerPage: 'rows per page'}">
        </md-table-pagination>
    </md-card>
</div>