<div id="content" class="container-fluid">
    <md-button class="md-raised" ng-click="openHistory()">
        <md-icon>arrow_back</md-icon><span translate>Back</span>
    </md-button>

    <div class="md-toolbar-tools">
        <div flex></div>
        <md-button class="md-raised md-primary" aria-label="Add"
            ng-if='account.role === 1 && transaction.status == "INIT" && transaction.transactionType != 3 && transaction.transactionType != 5 && transaction.transactionType != 6' ng-click="approve()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Approve</span>
            </md-tooltip>
            {{'Approve' | translate}}
        </md-button>
        <md-button class="md-raised md-accent" aria-label="Add"
            ng-if='account.role === 1 && transaction.status == "INIT" && transaction.transactionType != 3 && transaction.transactionType != 5 && transaction.transactionType != 6' ng-click="reject()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">cancel</md-icon>
            <md-tooltip md-direction="top">
                <span>{{'Cancel' | translate}}</span>
            </md-tooltip>
            {{'Cancel' | translate}}
        </md-button>
        <md-button class="md-raised " aria-label="Add" ng-if='transaction.status == "INIT" && transaction.transactionType != 3 && transaction.transactionType != 5 && transaction.transactionType != 6'
            ng-click="openEditTransaction()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">edit</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Edit</span>
            </md-tooltip>
            <span translate>Edit</span>
        </md-button>
    </div>

    <md-card>
        <md-card-content>
            <md-card-title style="background: #0746179c;color: #fff;font-size: 28px;border-radius: 5px;padding:4px">
                <span translate>Transaction Informations</span>
            </md-card-title>
            <div layout="row" layout-xs="column" style="margin-bottom: 8px">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Item Name</span><span translate>:</span>
                            {{transaction.item.name}}</span>
                    </md-card-title-text>
                </div>
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Item ID</span><span translate>:</span>
                            {{transaction.id}}</span>
                    </md-card-title-text>
                </div>
            </div>
            <div layout="row" layout-xs="column" style="margin-bottom: 8px">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Batch Number</span><span translate>:</span>
                            {{transaction.itemBatch}}</span>
                    </md-card-title-text>
                </div>
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Operation Type</span><span translate>:</span>
                            {{getTransactionType(transaction.transactionType)}}</span>
                    </md-card-title-text>
                </div>
            </div>
            <div layout="row" layout-xs="column" style="margin-bottom: 8px">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Quantitiy</span><span translate>:</span>
                            {{transaction.quantity}}</span>
                    </md-card-title-text>
                </div>
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Location</span><span translate>:</span>
                            {{transaction.pharmacyLocation.name}}</span>
                    </md-card-title-text>
                </div>
            </div>
            <div layout="row" layout-xs="column" style="margin-top: 10px; background-color:  {{approveBtn.background}}">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Status</span><span translate>:</span>
                            {{approveBtn.status}}</span>
                    </md-card-title-text>
                </div>
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Operation Date</span><span translate>:</span>
                            {{transaction.date| date:'dd/MM/yyyy': 'UTC'}}</span>
                    </md-card-title-text>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <md-card-title style="background: #0746179c;color: #fff;font-size: 28px;border-radius: 5px;padding:4px">
                <span translate>Author Informations</span>
            </md-card-title>
            <div layout="row" layout-xs="column" style="margin-bottom: 8px">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Name</span><span translate>:</span>
                            {{transaction.personId}}</span>
                        <span class="md-subhead description"></span>
                    </md-card-title-text>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <md-card-title style="background: #0746179c;color: #fff;font-size: 28px;border-radius: 5px;padding:4px">
                <span translate>Reason</span>
            </md-card-title>
            <div layout="row" layout-xs="column" style="margin-bottom: 8px">
                <div flex-gt-sm class="opblock-summary">
                    <md-card-title-text>
                        <span class="md-headline"><span translate>Reason</span><span translate>:</span>
                            {{transaction.reason}}</span>
                        <span class="md-subhead description"></span>
                    </md-card-title-text>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>