<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""> Stock and inventory </h1>
        <a href="index.html#!/">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon>Back
            </md-button>
        </a>
        <a href="index.html#!/inventory">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>trending_up</md-icon>Stocktakes
                <md-tooltip md-direction="top">
                    <span translate>Stocktakes</span>
                </md-tooltip>
            </md-button>
        </a>
        <a href="index.html#!/receptions">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>vertical_align_bottom</md-icon>Receptions
                <md-tooltip md-direction="top">
                    <span translate>Receptions</span>
                </md-tooltip>
            </md-button>
        </a>
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="donwload()">
            <md-icon>cloud_download</md-icon> Export
            <md-tooltip md-direction="top">
                <span translate>Export</span>
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!loading">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" flex ng-model="searchAll"
                    placeholder="{{ 'Search...' | translate }}">
            </form>
            <md-switch flex ng-model="stockAtRisOnly" aria-label="Switch 1">
                Stock at risk only: {{ stockAtRisOnly}}
            </md-switch>

        </div>
    </md-toolbar>
    <md-card ng-show="!loading">
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th><span translate>Drug code</span></th>
                        <th><span translate>Designation</span></th>
                        <th><span translate>Min Qty</span></th>
                        <th><span translate>Max Qty</span></th>
                        <th><span translate>Counted Qty</span></th>
                        <th><span translate>Physical Qty</span></th>
                        <th><span translate>Status</span></th>
                        <th><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        data-ng-repeat="drug in viewOnStock|filter:onlyStockAtRisk | limitTo: query.limit : (query.page -1) * query.limit">
                        <td>{{drug.code}}</td>
                        <td>{{drug.name}}</td>
                        <td>{{drug.stockMin}}</td>
                        <td>{{drug.stockMax}}</td>
                        <td>{{drug.virtualstock}}</td>
                        <td>{{drug.soh}} <small ng-if="drug.soh > drug.stockMax || drug.soh < drug.stockMin"
                                class="chip-normal status-4"> {{drug.soh > drug.stockMax ?'Over': (drug.soh <
                                    drug.stockMin ?'Under':'')}}</small>
                        </td>
                        <td style="text-align: center">

                            <md-icon style="color:{{drug.soh > 0 ?'red':'green'}}">
                                <md-tooltip>
                                    {{drug.numberOfExpiredLots}} lot(s) expired
                                </md-tooltip>
                                fiber_manual_record
                            </md-icon>
                        </td>
                        <td width="200px">
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="View"
                                ng-click="openView(drug)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">format_list_bulleted
                                </md-icon>
                                <md-tooltip md-direction="top"><span translate>Stock details</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Adjustment"
                                ng-click="openAdjustement(drug)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">adjust</md-icon>
                                <md-tooltip md-direction="top"><span translate>Adjustment</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="History"
                                ng-click="openHistory(drug)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">history</md-icon>
                                <md-tooltip md-direction="top"><span translate>History</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{viewOnStock.length}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-on-paginate="logPagination" md-label="{rowsPerPage: 'Rows per page'}">
        </md-table-pagination>
    </md-card>
</div>