<div id="content" class="container-fluid" ng-controller="viewHistoryController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
        <md-button class="md-raised" ng-click="returnToPrevious()">
            <md-icon>arrow_back</md-icon><span translate>Back</span>
        </md-button>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-card ng-show="!loading">
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th><span translate>Transaction</span> <br />ID</th>
                        <th><span translate>Item Name</span></th>
                        <th><span translate>Bath Name</span></th>
                        <th><span translate>Transaction Type</span></th>
                        <th><span translate>Transaction Qty</span></th>
                        <th><span translate>Date Modified</span></th>
                        <th><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        style="background: {{(history.status == 'VALID')?'#3dcc6785':(history.status == 'REJEC')?'#ea340aab':''}};"
                        data-ng-repeat="history in transactions| limitTo: query.limit : (query.page -1) * query.limit | orderBy:'-id'">
                        <td>
                            <center>{{history.id}}</center>
                        </td>
                        <td>{{history.item.name}}</td>
                        <td>{{history.itemBatch}}</td>
                        <td>{{getTransactionType(history.transactionType)}}</td>
                        <td>{{history.quantity}}</td>
                        <td>{{history.date| date:'dd/MM/yyyy' : 'UTC'}}</td>
                        <td>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Add"
                                ng-click="openViewTransaction(history)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">visibility</md-icon>
                                <md-tooltip md-direction="top"><span translate>Transaction Detail</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{transactions.length}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-limit-options="[5, 25, 50]" md-on-paginate="logPagination" md-label="{rowsPerPage: 'Rows per page'}">
        </md-table-pagination>
    </md-card>
</div>