<div id="content" class="container-fluid" ng-controller="OperationController as vm">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">Operation on equipment(s)</h1>
    </div>
    <md-card>
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>  
            <div layout="row" layout-xs="column"  class="flex flex-col">
                <md-input-container class="md-block" flex="50">
                    <label translate>Code</label>
                    <input disabled ng-model="vm.operation.code">
                </md-input-container>
                <md-input-container  class="md-block" flex="50">
                    <label translate>Date</label>
                    <md-datepicker ng-model="vm.operation.operation_date"></md-datepicker>
                </md-input-container>               
            </div>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block"  flex="33">
                    <label translate>Type</label>
                    <md-select ng-model="vm.operation.operation_type_id" >
                        <md-option ng-value="1">Output</md-option>
                        <md-option ng-value="2">Transfert</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block"  flex="33" ng-if="vm.operation.operation_type_id == 2">
                    <label translate>Source</label>
                    <md-select ng-model="vm.operation.source_department_id" >
                        <md-option ng-repeat="s in vm.sites" ng-value="s.site_id">
                            {{s.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block"  flex="33" ng-if="vm.operation.operation_type_id == 2">
                    <label translate>Destination</label>
                    <md-select ng-model="vm.operation.destination_department_id" >
                        <md-option ng-repeat="s in vm.sites" ng-value="s.site_id">
                            {{s.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>    
            <div layout="row" layout-xs="column"  class="flex flex-col">             
                <md-input-container class="md-block md-input-has-value" flex="100">
                    <label translate>Motif</label>
                    <textarea ng-model="vm.operation.motif"></textarea>
                </md-input-container>                            
            </div>                
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>
            Equipments
        </md-card-title>
        <md-card-content>
            <md-chips ng-model="vm.operation.equipments" md-autocomplete-snap>
                <md-autocomplete md-selected-item="selectedItem"
                                 md-search-text="searchText"
                                 md-items="item in equipments"
                                 md-item-text="item.serial_number"
                                 placeholder="{{'Equipments' | translate}}">
                    <span md-highlight-text="searchText">{{item.serial_number}} {{item.designation}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>{{$chip.serial_number}} {{$chip.designation}}</span>
                </md-chip-template>
            </md-chips>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" >
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
    </div> 
</div>
