<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>content_paste</md-icon> Place an order 
        </h1>
        <md-button class="md-raised md-primary" aria-label="Add" ng-if="approveBtn.visible" ng-disabled="!approveBtn.enabled" ng-click="approve()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span translate>{{approveBtn.text}}</span>
            </md-tooltip>
            {{approveBtn.text}}
        </md-button>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> 
    <md-card ng-show="!loading">
        <md-card-title translate>Order information</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex-gt-sm flex="50">
                    <label translate>Order N<sub>o</sub></label>
                    <input class="form-control" disabled type="text" ng-value="'CMD#' + order.id" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="50">
                    <label translate>Supplier name</label>
                    <md-select ng-model="order.supplier.id">
                        <md-option ng-repeat="s in suppliers" ng-value="s.id">
                            {{s.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex-gt-sm flex="100">
                    <label translate>Label</label>
                    <input class="form-control" type="text" ng-model="order.name" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card ng-if="order.id !== undefined" ng-show="!loading">
        <md-card-title translate> List of drugs</md-card-title>
        <md-card-content>           
            <div layout="row" layout-xs="column" data-ng-repeat="l in lines" class="flex flex-col">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in searchItems(searchText)" 
                    md-item-text="item.name" class="md-block" flex-gt-sm md-floating-label="Drug" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedItemChange(item,$index)" flex-gt-sm flex="45"
                    ng-if="l.uuid === null || l.uuid === undefined">
                    <md-item-template>
                      <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No matches found.
                    </md-not-found>
                </md-autocomplete>
                <md-input-container class="md-block" flex-gt-sm flex="45" ng-if="l.uuid  !== null && l.uuid !== undefined">
                    <label translate>Drug</label>
                    <input class="form-control" disabled type="text" ng-model="l.item.name" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="20">
                    <label translate>Quantity</label>
                    <input class="form-control" type="number" ng-model="l.orderLineQuantity" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="20">
                    <label translate>Price</label>
                    <input class="form-control" type="number" ng-change="updateOrderAmount()" ng-model="l.orderLineAmount">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="15">
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="add"
                        ng-click="saveOrderDetail(l, $index)" ng-if="order.dateApprobation === null">
                        <md-icon>save</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="remove"
                        ng-click="deteleOrderDetail(l, $index)" ng-if="order.dateApprobation === null">
                        <md-icon>remove</md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <md-button class=" md-primary md-button" aria-label="Add" ng-click="addOrderLine()"  ng-if="order.dateApprobation === null">
                <md-icon>add</md-icon> Add a line
            </md-button>
            <strong>Total: {{order.amount}}</strong>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column" ng-if="order.id !== undefined && !loading">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveOrder()" ng-if="order.dateApprobation === null">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
        <a href="index.html#!/orders">
            <md-button class="md-raised" aria-label="Add">
                <md-icon>close</md-icon>
                Cancel
            </md-button>
        </a>
    </div>
    <div layout="row" layout-xs="column" ng-if="order.id === undefined && !loading">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveOrder()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save & Enter details</span>
            </md-tooltip>
            Save & Enter details
        </md-button>
    </div>
</div>