<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>shopping_cart</md-icon> <span translate>Orders management</span>
        </h1>
        <a href="index.html#!/">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
        <a>
            <md-button class="md-raised md-primary" aria-label="Add" ng-click="create()">
                <md-icon class=" material-icons" role="img" aria-hidden="true">add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Place an order</span>
                </md-tooltip>
                <span translate>Place an order</span>
            </md-button>
        </a>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!loading">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="searchAll.id"
                    placeholder="{{ 'Search for Orders n°...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card ng-show="!loading">
        <md-card-content>
            <md-table-container class="container" fixed-column-table>
                <table md-table md-progress="promise">
                    <thead md-head>
                        <tr md-row>
                            <th><span translate>Order n°</span></th>
                            <th><span translate>Supplier</span></th>
                            <th><span translate>Date of reception</span></th>
                            <th><span translate>Approved on</span></span></th>
                            <th><span translate>Amount</span></th>
                            <th><span translate>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row
                            data-ng-repeat="data in orders | orderBy:'-id' | filter:search | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>CMD#{{data.id}}</td>
                            <td md-cell>{{data.supplier.name}}</td>
                            <td md-cell>{{data.dateReception | date: 'dd/MM/yyyy' : 'UTC'}}</td>
                            <td md-cell>{{data.dateApprobation | date: 'dd/MM/yyyy' : 'UTC'}}</td>
                            <td md-cell>{{data.amount}}</td>
                            <td md-cell>
                                <button class="md-fab md-mini md-primary md-button" type="button" aria-label="View"
                                    ng-click="openView(data)" ng-if="data.dateApprobation">
                                    <md-icon class="material-icons" role="img" aria-hidden="true">visibility</md-icon>
                                    <md-tooltip md-direction="top"><span translate>View</span></md-tooltip>
                                </button>
                                <md-button class="md-fab md-mini md-primary md-button" aria-label="add"
                                    ng-click="view(data)" ng-if="!data.dateApprobation">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip md-direction="top">
                                        <span translate>Edit</span>
                                    </md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary md-button" aria-label="add"
                                    ng-if="data.dateReception === null && data.dateApprobation !== null"
                                    ng-click="receive(data)">
                                    <md-icon>check_circle</md-icon>
                                    <md-tooltip md-direction="top">
                                        <span translate>Receive</span>
                                    </md-tooltip>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary md-button" aria-label="add"
                                    ng-if="data.dateApprobation === null" ng-click="deleteOrder(data)">
                                    <md-icon>delete</md-icon>
                                    <md-tooltip md-direction="top">
                                        <span translate>Remove</span>
                                    </md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{orders.length}}"
                md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                md-limit-options="[25, 50, 100]" md-on-paginate="logPagination" md-label="{rowsPerPage: 'rows per page'}">
            </md-table-pagination>
        </md-card-content>
    </md-card>
</div>