<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>add_shopping_cart</md-icon> <span translate>Place an order</span>
        </h1>
        <a href="index.html#!/orders">
            <md-button aria-label="Add">
                <md-icon>arrow_back</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Back</span>
                </md-tooltip>
                <span translate>Back</span>
            </md-button>
        </a>
        <md-button class="md-raised md-primary" aria-label="Add" ng-if="approveBtn.visible"
            ng-disabled="!approveBtn.enabled" ng-click="approve()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Approve</span>
            </md-tooltip>
            <span translate>Approve</span>
        </md-button>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> 
    <md-card ng-show="!loading">
        <md-card-title translate><span translate>Order information</span></md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex-gt-sm flex="50">
                    <label translate>Order n°</label>
                    <input class="form-control" disabled type="text" ng-value="'CMD#' + order.id" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="50">
                    <label translate>Supplier*</label>
                    <md-select  ng-model="order.supplier.id" required >
                        <md-option ng-repeat="s in suppliers" ng-value="s.id">
                            {{s.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex-gt-sm flex="100">
                    <label translate>Label*</label>
                    <input class="form-control" required type="text" ng-model="order.name" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card ng-show="!loading">
        <md-card-title translate>List of drugs</md-card-title>
        <md-card-content>           
            <div layout="row" layout-xs="column" data-ng-repeat="l in lines" class="flex flex-col">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in searchItems(searchText)" 
                    md-item-text="item.name" class="md-block" flex-gt-sm md-floating-label="Drug*" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedItemChange(item,$index)" flex-gt-sm flex="45"
                    ng-if="l.uuid === null || l.uuid === undefined">
                    <md-item-template>
                      <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found translate>No matches found. </md-not-found>
                </md-autocomplete>
                <md-input-container class="md-block" flex-gt-sm flex="45" ng-if="l.uuid  !== null && l.uuid !== undefined">
                    <label translate>Drug*/label>
                    <input class="form-control" disabled type="text" ng-model="l.item.name" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="20">
                    <label translate>Quantity*</label>
                    <input class="form-control" type="number"   required ng-change="lineQuantityChange($index)" ng-model="l.orderLineQuantity" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="20">
                    <label translate>Price*</label>
                    <input class="form-control" type="number" disabled ng-change="updateOrderAmount()" ng-model="l.orderLineAmount">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="15">
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="remove"
                        ng-click="deleteOrderDetail($index)">
                        <md-icon>remove</md-icon>
                        <md-tooltip md-direction="top">
                            <span translate>Remove</span>
                        </md-tooltip>
                    </md-button>
                </md-input-container>
            </div>
            <md-button class=" md-primary md-button" aria-label="Add" ng-click="addOrderLine()" >
                <md-icon>add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Add a line</span>
                </md-tooltip> <span translate>Add a line</span>
            </md-button>
            <div layout="row" layout-xs="column">
                <table md-table md-progress="promise">
                    <thead md-head >
                        <tr md-row>
                            <th colspan="8"><span translate>Total:</span> {{order.amount}} </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column" ng-if="!loading">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveOrder()" >
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            <span translate>Save</span>
        </md-button>
    </div>
</div>
