<div id="body-wrapper">
    <h1> Equipment management </h1>

    <div id="content" class="container-fluid">
        <div class="row">
            <center> gestion des quipements list 2</center>
            <center> gestion des quipements list 2</center>
            <center> gestion des quipements list 2</center>
            <center> gestion des quipements list 2</center>
            <center> gestion des quipements list 2</center>
        </div>
        <!--        <div ng-controller="EquipementController as vm">
                    <openmrs-list resource="vm.resource" columns="vm.columns" actions="vm.actions" list-all="true"></openmrs-list>
                </div>-->
        <div flex="70" flex-offset="15" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" style="height:100%;"> 
            <md-card>
                <form ng-submit="submit();">
                    <md-card>
                        <md-card-title style="padding-bottom: 0;">
                            <md-card-title-text>
                                <span class="md-headline" translate>Creation of new structure</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label translate>Structure type</label>
                                    <md-select name="type" ng-model="structure.type" required >
                                        <md-option ng-repeat="type in types" value="{{type.id}}" >
                                            {{type.name| uppercase}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="type.$error">
                                        <div ng-message="required">
                                            The structure type is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label translate>Structure rank</label>
                                    <md-select name="rank" ng-model="structure.rank" required ng-change="rankChange()">
                                        <md-option ng-repeat="rank in ranks" value="{{rank.id}}" >
                                            {{rank.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="rank.$error">
                                        <div ng-message="required">
                                            The structure rang is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="addFather">
                                <md-input-container class="md-block" flex >
                                    <label translate>Structure</label>
                                    <md-select name="selectedStruc" ng-model="selected.structure" required ng-change="structureChange()">
                                        <md-option ng-repeat="struct in structures| filter:structureFilter" value="{{struct}}" ng-selected="{{ struct._id === selected.structure._id ? 'true' : 'false' }}">
                                            {{struct.name}} <em>(code: {{struct.code}})</em> 
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="selectedStruc.$error">
                                        <div ng-message="required">
                                            This is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" >
                                <md-input-container class="md-block" flex>
                                    <label translate>Code</label>
                                    <input name="code" ng-model="structure.code" required>
                                    <div ng-messages="code.$error">
                                        <div ng-message="required">
                                            Structure code is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex = "80">
                                    <label translate>Structure name</label>
                                    <input name="fr" ng-model="structure.fr" required>
                                    <div ng-messages="fr.$error">
                                        <div ng-message="required">
                                            Structure name is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label translate>Region</label>
                                    <md-select name="regions" ng-model="structure.address[0].region" required >
                                        <md-option ng-repeat="region in regions" value="{{region.id}}" >
                                            {{region.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="regions.$error">
                                        <div ng-message="required">
                                            The original region is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label translate>division</label>
                                    <md-select name="division" ng-model="structure.address[0].department" required>
                                        <md-option ng-repeat="department in departments" value="{{department.id}}">
                                            {{department.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="division.$error">
                                        <div ng-message="required">
                                            The division is required to proceed on next step.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ui-sref="home.administration.structures"><span translate>Cancel</span></md-button>
                        <md-button class="md-raised md-accent" type="submit"><span translate>Save</span></md-button>
                    </md-card-actions>
                </form>
            </md-card>
        </div>
    </div>
</div>
