<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>local_pharmacy</md-icon> <span translate>Dispense Drugs</span>
        </h1>
        <a href="index.html#!/dispenses" ng-if="!loading">
            <md-button class="" aria-label="Add">
                <md-icon>chevron_left</md-icon>
                <span translate>Back</span>
            </md-button>
        </a>
        <md-button class="md-raised md-primary" aria-label="Add" ng-if="account.role === 1 && validateBtn.visible"
            ng-disabled="!validateBtn.enabled" ng-click="validate()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span translate>{{validateBtn.text}}</span>
            </md-tooltip>
            {{validateBtn.text}}
        </md-button>
        <md-button class="md-raised md-accent" aria-label="Add" ng-if='account.role === 1 && validateBtn.enabled'
            ng-click="reject()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">cancel</md-icon>
            <md-tooltip md-direction="top">
                <span>{{'Cancel' | translate}}</span>
            </md-tooltip>
            {{'Cancel' | translate}}
        </md-button>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <form ng-submit="saveSending();">
        <md-card ng-if="!loading">
            <md-card-title translate>Dispense Details</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex-gt-sm flex="20">
                        <label translate>Type of Dispensation</label>
                        <md-select ng-model="dispenseMode" ng-change="dispenseModeChange(dispenseMode)"
                            ng-disabled="!isEditable" required>
                            <md-option ng-repeat="type in dispenseModes" value="{{type.id}}">
                                {{ type.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="20">
                        <label translate>Date</label>
                        <input type="date" ng-model="sending.date" ng-model-options="{timezone: 'UTC'}"
                            ng-disabled="!isEditable" required>
                    </md-input-container>
                    <md-autocomplete md-selected-item="selectedCustomer" md-search-text="customerSearchText"
                        md-items="customer in searchCustomers(customerSearchText)" md-item-text="customer.name"
                        class="md-block" flex-gt-sm md-floating-label="{{'Customer' | translate}}" md-clear-button="true"
                        md-no-cache="true" md-selected-item-change="selectedCustomerChange(customer,$index)" flex="60"
                        ng-if="dispenseModeuuid === '37688e92-f19c-4f19-b369-cdd31c8e7fba' || dispenseModeuuid === 'a6284bc5-f3b0-4687-abce-16ff8423470b'"
                        ng-disabled="!isEditable" required>
                        <md-item-template>
                            <span md-highlight-text="customerSearchText">{{customer.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete md-selected-item="selectedPatient" md-search-text="patientSearchText"
                        md-items="patient in searchPatients(patientSearchText)" md-item-text="patient.patient.display"
                        class="md-block" flex-gt-sm md-floating-label="{{'Patient (with active visit)' | translate}}" md-clear-button="true"
                        md-no-cache="true" md-selected-item-change="selectedPatientChange(patient,$index)" flex="60"
                        ng-if="dispenseModeuuid === 'b54a1ddd-d25b-492e-98e9-5f1de0520e1a'" ng-disabled="!isEditable"
                        required>
                        <md-item-template>
                            <span md-highlight-text="patientSearchText">{{patient.patient.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </md-card-content>
        </md-card>
        <md-card ng-if="!loading">
            <md-card-title translate>List of drugs</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" data-ng-repeat="l in lines" class="flex flex-col">
                    <md-autocomplete md-selected-item="selectedItem" md-search-text="itemSearchText"
                        md-items="item in searchItems(itemSearchText)" md-item-text="item.name" class="md-block"
                        flex-gt-sm md-floating-label="{{'Drug'| translate}}" md-clear-button="true" md-no-cache="true"
                        md-selected-item-change="selectedItemChange(item,$index)" flex="33"
                        ng-if="l.id === null || l.id === undefined" required>
                        <md-item-template>
                            <span md-highlight-text="itemSearchText">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-sm flex="33"
                        ng-if="l.id !== null && l.id !== undefined">
                        <label>{{"Drug"| translate}}</label>
                        <input class="form-control" disabled type="text" ng-model="l.item.name" ng-
                            ng="selectedItemChange(l.item,$index)">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Batch n°</label>
                        <md-select ng-model="l.sendingItemBatch"
                            ng-change="selectedItemLineChange(l.sendingItemBatch, $index)" ng-disabled="!isEditable"
                            required>
                            <md-option ng-repeat="iLine in l.itemsLines" value="{{iLine.itemBatch}}">
                                {{ iLine.itemBatch}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm flex="15">
                        <label translate>Quantity</label>
                        <input class="form-control" type="number" ng-model="l.sendingDetailsQuantity"
                            ng-change="updateLineValue($index)" ng-disabled="!isEditable" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="15">
                        <label translate>Price</label>
                        <input class="form-control" ng-disabled="true" type="number" ng-model="l.sendingDetailsValue">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="7">
                        <md-button class="md-fab md-mini md-danger md-button" aria-label="remove"
                            ng-click="deleteSendingDetail(l, $index)" ng-disabled="!isEditable">
                            <md-icon>remove</md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary" ng-click="addSendingLine()" ng-if="isEditable">
                    <md-icon>add</md-icon> <span translate>Add a line</span>
                </md-button>
                <div layout="row" layout-xs="column">
                    <table md-table md-progress="promise">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th colspan="8"><span translate>Total</span><span translate>:</span>
                                    {{sending.sendingAmount}} </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" layout-xs="column" ng-if="!loading && !sending.validationdate">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="!isEditable && !actionnable">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                <span translate>Save</span>
            </md-button>
            <a href="index.html#!/dispenses">
                <md-button aria-label="Cancel">
                    <md-icon>close</md-icon>
                    <span translate>Cancel</span>
                </md-button>
            </a>
        </div>
    </form>
</div>