<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>local_pharmacy</md-icon> Dispense drugs
        </h1>
        <a href="index.html#!/"  ng-if="!loading">
            <md-button class="" aria-label="Add">
                <md-icon>chevron_left</md-icon>
                Back
            </md-button>
        </a>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> 
    <md-card ng-if="!loading">
        <md-card-title translate>Dispense details</md-card-title>
        <md-card-content>
            <div layout="row"  layout-xs="column" class="flex flex-col">                
                <md-input-container class="md-block" class="md-block" flex-gt-sm flex="20">
                    <label translate>Type of Dispensation</label>
                    <md-select ng-model="dispenseMode" ng-disabled="sending.id>0">
                        <md-option ng-value="1">Internal</md-option>
                        <md-option ng-value="2">External</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block"  class="md-block" flex-gt-sm flex="20">
                    <label translate>Date</label>
                    <input type="date" ng-model="sending.date">
                </md-input-container>               
                <md-autocomplete md-selected-item="selectedCustomer" md-search-text="customerSearchText" md-items="customer in searchCustomers(customerSearchText)" 
                    md-item-text="customer.name" class="md-block" flex-gt-sm md-floating-label="Customer" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedCustomerChange(customer,$index)" flex-gt-sm flex="60"
                    ng-if="dispenseMode == 2 && !(sending.id > 0)">
                    <md-item-template>
                    <span md-highlight-text="customerSearchText">{{customer.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>  
                <md-input-container class="md-block" flex-gt-sm flex="60" ng-if="dispenseMode == 2 && sending.id > 0">
                    <label translate>Customer</label>
                    <input class="form-control" disabled type="text" ng-model="sending.customer.name" >
                </md-input-container>                          
                <md-autocomplete md-selected-item="selectedPatient" md-search-text="patientSearchText" md-items="patient in searchPatients(patientSearchText)" 
                    md-item-text="patient.display" class="md-block" flex-gt-sm md-floating-label="Patient" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedPatientChange(patient,$index)" flex-gt-sm flex="60"
                    ng-if="dispenseMode == 1 && !(sending.id > 0)">
                    <md-item-template>
                    <span md-highlight-text="patientSearchText">{{patient.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>  
                <md-input-container class="md-block" flex-gt-sm flex="60" ng-if="dispenseMode == 1 && sending.id > 0">
                    <label translate>Patient</label>
                    <input class="form-control" disabled type="text" ng-model="sending.person.display" >
                </md-input-container>                   
            </div>
        </md-card-content>
    </md-card>
    <md-card ng-if="!loading && sending.uuid">
        <md-card-title translate>List of drugs</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column" data-ng-repeat="l in lines"  class="flex flex-col">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="itemSearchText" md-items="item in searchItems(itemSearchText)" 
                    md-item-text="item.name" class="md-block" flex-gt-sm md-floating-label="Drug" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedItemChange(item,$index)" flex-gt-sm flex="30"
                    ng-if="!(l.id > 0)">
                    <md-item-template>
                    <span md-highlight-text="itemSearchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>                 
                <md-input-container class="md-block" flex-gt-sm flex="33" ng-if="l.id > 0">
                    <label translate>{{"pharmacy.order.drug" | translate}}</label>
                    <input class="form-control" disabled type="text" ng-model="l.item.name" >
                </md-input-container> 
                <md-autocomplete md-selected-item="selectedItemLine" md-search-text="batchSearchText" md-items="line in searchItemLines(batchSearchText, l.item)" 
                    md-item-text="line.itemBatch" class="md-block" flex-gt-sm md-floating-label="Batch n°" md-clear-button="true" 
                    md-no-cache="true" md-selected-item-change="selectedItemLineChange(line,$index)" flex-gt-sm flex="25"
                    ng-if="!(l.id > 0)">
                    <md-item-template>
                    <span md-highlight-text="batchSearchText">{{line.itemBatch}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete> 
                <md-input-container class="md-block" flex-gt-sm flex="30" ng-if="l.id > 0">
                    <label translate>Batch n°</label>
                    <input class="form-control" disabled type="text" ng-model="l.sendingItemBatch" >
                </md-input-container> 
                <md-input-container class="md-block" flex-gt-sm flex="15">
                    <label translate>Quantity</label>
                    <input class="form-control" type="number" ng-model="l.sendingDetailsQuantity" ng-change="updateLineValue($index)">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="15">
                    <label translate>Price</label>
                    <input class="form-control" ng-disabled="true" type="number" ng-model="l.sendingDetailsValue">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm flex="15">
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="save" ng-click="saveSendingDetail(l,$index)">
                        <md-icon>save</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-danger md-button" aria-label="remove" ng-click="deleteSendingDetail(l,$index)">
                        <md-icon>remove</md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-click="addSendingLine()">
                <md-icon>add</md-icon> Add a line
            </md-button>
            <div layout="row" layout-xs="column">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th colspan="8"><span translate>Total: {{sending.sendingAmount}} </span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column"  ng-if="!loading">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveSending()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
    </div>
</div>