<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""><span translate>Drugs Dispensing Management</span></h1>
        <a href="index.html#!/">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
        <!--        <a href="index.html#!/stockatrisk">
                    <md-button class="md-raised md-primary" aria-label="Add">
                        <md-icon>report_problem</md-icon> Stock at risk
                        <md-tooltip md-direction="top">
                            <span translate>Stock at risk</span>
                        </md-tooltip>
                    </md-button>
                </a>-->
        <a href="index.html#!/dispense/new">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>add</md-icon> <span translate>New</span>
                <md-tooltip md-direction="top">
                    <span translate>New</span>
                </md-tooltip>
            </md-button>
        </a>
    </div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="searchAll"
                    placeholder="{{ 'Search for Refs. / Customers...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th><span translate>Ref.</span></th>
                        <th><span translate>Type Dispensation</span></th>
                        <th><span translate>Customer</span></th>
                        <th><span translate>Number of Batches</span></th>
                        <th><span translate>Quantity</span></th>
                        <th><span translate>Amount</span></th>
                        <th><span translate>Date </span></th>
                        <th><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        data-ng-repeat="dispense in dispenses | orderBy:'-id' | filter:search ">
                        <td>
                            <center>{{dispense.id}}</center>
                        </td>
                        <td>{{dispense.customerType.name}}</td>
                        <td>{{(dispense.customer != null)? dispense.customer.name : dispense.person.display}}</td>
                        <td>{{dispense.numberOfBatches}}</td>
                        <td>{{dispense.quantity}}</td>
                        <td>{{dispense.sendingAmount}}</td>
                        <td>{{dispense.date | date:'dd/MM/yyyy' : 'UTC'}}</td>
                        <td width="200px">
                            <button ng-if="!dispense.validationDate" class="md-fab md-mini md-primary md-button"
                                type="button" aria-label="Edit" ng-click="openEdit(dispense)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">edit</md-icon>
                                <md-tooltip md-direction="top"><span translate>Edit</span></md-tooltip>
                            </button>
                            <button ng-if="!dispense.validationDate" class="md-fab md-mini md-primary md-button"
                                type="button" aria-label="History" ng-click="showConfirm($event,dispense)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                                <md-tooltip md-direction="top"><span translate>Delete</span></md-tooltip>
                            </button>
                            <button ng-if="dispense.validationDate" class="md-fab md-mini md-primary md-button"
                                type="button" aria-label="History" ng-click="openEdit(dispense)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">visibility</md-icon>
                                <md-tooltip md-direction="top"><span translate>Dispense Detail</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.count}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-limit-options="[25, 50, 100]"
            md-on-paginate="getAllSendings" md-label="$parent.label">
        </md-table-pagination>
    </md-card>
</div>