<div id="content" class="container-fluid" ng-controller="DrugController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
    </div>
    <md-card>
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-autocomplete class="md-block" flex-gt-sm md-floating-label="Search drug"
                    md-selected-item="selectedItem" md-search-text="searchText"
                    md-items="item in getMatches(searchText)" md-item-text="item.display" md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.display}}</span>
                        <input type="text" ng-model="vm.drug.name" value="{{item.display}}" style="visibility: hidden;">
                        <input type="text" ng-model="vm.drug.uuid" value="{{item.uuid}}" style="visibility: hidden;">
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Code</label>
                    <input ng-model="vm.drug.code">
                </md-input-container>
            </div>
            <!-- <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Designation</label>
                    <input ng-model="vm.drug.designation" flex-gt-sm>
                </md-input-container>
            </div> -->
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Type</label>
                    <md-select ng-model="vm.drug.type.id">
                        <md-option ng-repeat="d in vm.units" ng-value="d.id">
                            {{d.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>route</label>
                    <md-select ng-model="vm.drug.route.id">
                        <md-option ng-repeat="r in vm.routes" ng-value="r.id">
                            {{r.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title translate>Inventory Informations</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                    <label translate>Buy price</label>
                    <input type="number" ng-model="vm.drug.buy_price">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Sell price</label>
                    <input type="number" ng-model="vm.drug.sell_price">
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                    <label translate>Min Stock</label>
                    <input type="number" ng-model="vm.drug.min_stock">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Max Stock</label>
                    <input type="number" ng-model="vm.drug.max_stock">
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                    <label translate>Description</label>
                    <textarea ng-model="vm.drug.description" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;">Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="drug()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
        <a href="index.html#!/drugs">
            <md-button class="md-raised" aria-label="Add">
                <md-icon>close</md-icon>
                Cancel
            </md-button>
        </a>
    </div>
</div>