<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""><span translate>Stocktakes</span></h1>
        <a href="index.html#!/inventory">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!loading">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" flex ng-model="searchAll"
                    placeholder="{{ 'Search...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card ng-show="!loading">
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th><span translate>Drug</span></th>
                        <th><span translate>Batch</span></th>
                        <th><span translate>Location</span></th>
                        <th><span translate>Physical Qty</span></th>
                        <th><span translate>Unit</span></th>
                        <th><span translate>Counted Qty</span></th>
                        <th><span translate>Difference</span></th>
                        <th><span translate>Expiration Date</span></th>
                        <th><span translate>Status</span></th>
                        <th><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        data-ng-repeat="drug in stocktakes|filter:onlyStockAtRisk | limitTo: query.limit : (query.page -1) * query.limit">
                        <td>{{drug.item.name}}</td>
                        <td>{{drug.itemBatch}}</td>
                        <td>{{drug.pharmacyLocation.name}}</td>
                        <td>{{drug.itemSoh}}</td>
                        <td>{{drug.item.unit.name}}</td>
                        <td>
                            <md-input-container class="md-block" flex-gt-sm>
                                <input class="form-control" type="number" ng-model="drug.counted"
                                    ng-change="saveDifference(drug)">
                            </md-input-container>
                        </td>
                        <td> <span style="color:{{drug.difference < 0 ?'red':'green'}}">
                                <i ng-if="0 < drug.difference">+</i>{{drug.difference}}
                            </span>
                        </td>
                        <td>{{drug.itemExpiryDate| date:'dd/MM/yyyy'}}</td>
                        <td style="text-align: center">
                            <small ng-class="(drug.itemVirtualstock == drug.itemSoh) ? 'status-3' : 'status-2'"
                                class="chip-normal ">{{drug.itemVirtualstock == drug.itemSoh ? 'validated':
                                'pending'}}</small>
                        </td>
                        <td>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="View"
                                ng-click="approve(drug)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">check_circle
                                </md-icon>
                                <md-tooltip md-direction="top"><span translate>Approve</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{stocktakes.length}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-on-paginate="logPagination" md-label="{rowsPerPage: 'Rows per page'}">
        </md-table-pagination>
    </md-card>
</div>