<div id="content" class="container-fluid" ng-controller="PurchaseController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <md-icon>content_paste</md-icon> {{vm.appTitle}}
        </h1>
    </div>
    <md-card>
        <md-card-title translate>New purchase details</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Supplier Name</label>
                    <md-select ng-model="vm.supplier_name">
                        <md-option ng-repeat="s in vm.suppliers" ng-value="s.id">
                            {{s.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Date</label>
                    <md-datepicker name="dateField" ng-model="vm.approbation.date" md-placeholder="Enter date"
                        input-aria-describedby="datepicker-description" input-aria-labelledby="datepicker-header">
                    </md-datepicker>
                </md-input-container>

            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Order N<sub>o</sub></label>
                    <input ng-model="vm.order_number">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title translate>List of drug to order</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-card-title>
                    Name
                </md-card-title>
                <md-card-title>
                    Type
                </md-card-title>
                <md-card-title>
                    Avl Qty
                </md-card-title>
                <md-card-title>
                    Qty
                </md-card-title>
                <md-card-title>
                    Price
                </md-card-title>
                <md-card-title>
                    Actions
                </md-card-title>
            </div>
            <div layout="row" layout-xs="column" data-ng-repeat="choice in choices">
                <md-input-container class="md-block" flex-gt-sm style="margin:0px auto">
                    <!-- <label translate>Drug</label>
                    <input class="form-control" type="text" ng-model="choice.drug_name"> -->
                    <md-autocomplete class="md-block" flex-gt-sm md-floating-label="Search drug"
                        md-selected-item="selectedItem" md-search-text="searchText"
                        md-items="item in getMatches(searchText)" md-item-text="item.display" md-clear-button="true"
                        md-selected-item-change="selectedItemChange(item)">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Unit</label>
                    <md-select ng-model="choice.drug_unit">
                        <md-option ng-repeat="d in vm.units" ng-value="d.id" ng-selected="d.id == drug_type_id">
                            {{d.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Avl qty</label>
                    <input class="form-control" type="number" ng-model="choice.avl_qty">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Qty to order</label>
                    <input class="form-control" type="number" ng-model="choice.qty">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>price</label>
                    <input class="form-control" type="number" ng-model="choice.price">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="remove"
                        ng-click="removeChoice(choice.id)" ng-if="choice.id!=index">
                        <md-icon>remove</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary md-button" aria-label="Add" ng-click="addNewChoice()"
                        ng-if="choice.id===index">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <br>
            <md-button class="md-raised md-primary" ng-click="addNewChoice()">
                <md-icon>add</md-icon> Add fields
            </md-button>
            <br>
            <hr>
            <div layout="row" layout-xs="column">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th colspan="8"><span translate>Total: </span></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="choicesDisplay">
                <!-- {{ choices }} -->
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;">Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="purchase()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
        <a href="index.html#!/receive">
            <md-button class="md-raised" aria-label="Add">
                <md-icon>close</md-icon>
                Cancel
            </md-button>
        </a>
    </div>
</div>