<div id="content" class="container-fluid">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""><span translate>Supplier Order Management</span></h1>
        <a href="index.html#!/">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon> <span translate>Back</span>
            </md-button>
        </a>
        <a href="index.html#!/purchase">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>New</span>
                </md-tooltip>
                <span translate>Other Drugs</span>
            </md-button>
        </a>
    </div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="filter.search" placeholder="{{ 'Search...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column><span translate>Order No</span></th>
                        <th md-column><span translate>Supplier Name</span></th>
                        <th md-column><span translate>Approbation Date</span></th>
                        <th md-column><span translate>Reception Date</span></th>
                        <th md-column><span translate>Total Amount</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="receive in receives | orderBy:'-id'">
                        <td md-cell>{{receive.code}}</td>
                        <td md-cell>{{receive.supplier}}</td>
                        <td md-cell>{{receive.approbation}}</td>
                        <td md-cell>{{receive.reception}}</td>
                        <td md-cell>{{receive.total}}</td>
                        <td md-cell>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Add" ng-click="openView(receive)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">visibility</md-icon>
                                <md-tooltip md-direction="top"><span translate>View</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Remove" ng-click="openView(receive)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">check_circle</md-icon>
                                <md-tooltip md-direction="top"><span translate>Received</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Remove" ng-click="delete(receive)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">highlight_off</md-icon>
                                <md-tooltip md-direction="top"><span translate>Delete</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page"
            md-total="{{drugs.count}}" md-page-select="true" md-label="$parent.label">
        </md-table-pagination>
    </md-card>
</div>