<div id="content" class="container-fluid">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""> Supplier order management </h1>
        <a href="index.html#!/">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon>Back
            </md-button>
        </a>
        <a href="index.html#!/suppliers">
            <md-button class="md-raised md-warn">
                Supplier management
            </md-button>
        </a>
        <a href="index.html#!/purchase">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>New</span>
                </md-tooltip>
                Order Drugs
            </md-button>
        </a>
    </div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="filter.search" placeholder="{{ 'Search...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column><span translate>Order No</span></th>
                        <th md-column><span translate>Supplier name</span></th>
                        <th md-column><span translate>Approbation date</span></th>
                        <th md-column><span translate>Reception date</span></th>
                        <th md-column><span translate>Total amount</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="d in receives">
                        <td md-cell>{{d.code}}</td>
                        <td md-cell>{{d.supplier}}</td>
                        <td md-cell>{{d.approbation}}</td>
                        <td md-cell>{{d.reception}}</td>
                        <td md-cell>{{d.total}}</td>
                        <td md-cell><a href="index.html#!/purchase">View</a> | <a href="">Approve</a>| <a href="">Deny </a></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page"
            md-total="{{drugs.count}}" md-page-select="true" md-label="$parent.label">
        </md-table-pagination>
    </md-card>
</div>