<div id="content" class="container-fluid" ng-controller="CustomerController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
    </div>
    <md-card>
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Code</label>
                    <input ng-model="vm.customer.code" required>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Name</label>
                    <input ng-model="vm.customer.name" flex-gt-sm required>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Type</label>
                    <md-select ng-model="vm.customer.type.id" required>
                        <md-option ng-repeat="t in vm.customertypes" ng-value="t.id"
                            ng-selected="t.id == customer_type_id">
                            {{t.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Address</label>
                    <input ng-model="vm.customer.address" required flex-gt-sm>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Email</label>
                    <input ng-model="vm.customer.email" required flex-gt-sm>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Tel</label>
                    <input ng-model="vm.customer.tel" required flex-gt-sm>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;" translate>Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="customer()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            <span translate>Save</span>
        </md-button>
        <a href="index.html#!/customers">
            <md-button class="md-raised" aria-label="Add">
                <md-icon>close</md-icon>
                <span translate>Cancel</span>
            </md-button>
        </a>
    </div>
</div>