<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""><span translate>Settings</span></h1>
        <a href="index.html#!/">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 homeList" id="apps">
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
               href="index.html#!/drugs" class="btn btn-default btn-lg button app big align-self-center" type="button" ng-if="account.role < 3">
                <i class="icon-plus-sign-alt"></i>
                <span translate>Drugs Management</span>
            </a>
            <a id="coreapps-activeVisitsHomepageLink-coreapps-activeVisitsHomepageLink-extension"
                href="index.html#!/locations" class="btn btn-default btn-lg button app big align-self-center"
                type="button" ng-if="account.role === 1">
                <i class="icon-map-marker"></i>
                <span translate>Locations Management</span>
            </a>
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
                href="index.html#!/units" class="btn btn-default btn-lg button app big align-self-center" type="button" ng-if="account.role === 1">
                <i class="icon-filter"></i>
                <span translate>Units Management</span>
            </a>
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
                href="index.html#!/routes" class="btn btn-default btn-lg button app big align-self-center"
                type="button" ng-if="account.role === 1">
                <i class="icon-stethoscope"></i>
                <span translate>Routes Management</span>
            </a>
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
                href="index.html#!/suppliers" class="btn btn-default btn-lg button app big align-self-center"
                type="button" ng-if="account.role === 1">
                <i class="icon-truck"></i>
                <span translate>Suppliers Management</span>
            </a>
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
                href="index.html#!/customertype" class="btn btn-default btn-lg button app big align-self-center"
                type="button" ng-if="account.role === 1">
                <i class="icon-cog"></i>
                <span translate>Customer Types Management</span>
            </a>
            <a id="coreapps-systemadministration-homepageLink-coreapps-systemadministration-homepageLink-extension"
                href="index.html#!/customers" class="btn btn-default btn-lg button app big align-self-center"
                type="button" ng-if="account.role === 1">
                <i class="icon-user"></i>
                <span translate>Customers Management</span>
            </a>
        </div>
    </div>
</div>