<div id="content" class="container-fluid" ng-controller="RouteController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
    </div>
    <md-card>
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>
            <form name="routeForm">
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Code</label>
                    <input ng-model="vm.route.code" required>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Name</label>
                    <input ng-model="vm.route.name" flex-gt-sm required>
                </md-input-container>
            </div>
        </form>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;">Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="route()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            <span translate>Save</span>
        </md-button>
        <a href="index.html#!/routes">
            <md-button aria-label="Add">
                <md-icon>close</md-icon>
                <span translate>Cancel</span>
            </md-button>
        </a>
    </div>
</div>