<div id="content" class="container-fluid">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex=""> Supplier management </h1>
        <a href="index.html#!/administration">
            <md-button class="md-raised">
                <md-icon>arrow_back</md-icon>Back
            </md-button>
        </a>
        <a href="index.html#!/supplier">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon>add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>New</span>
                </md-tooltip>
                Add new
            </md-button>
        </a>
    </div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex="">
                <input type="search" name="search" ng-model="searchAll" placeholder="{{ 'Search...' | translate }}">
            </form>
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container">
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th><span translate>supplier code</span></th>
                        <th><span translate>Name</span></th>
                        <th><span translate>Address</span></th>
                        <th><span translate>Email</span></th>
                        <th><span translate>Tel</span></th>
                        <th><span translate>Action</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        data-ng-repeat="supplier in suppliers |filter:searchAll | limitTo: query.limit : (query.page -1) * query.limit">
                        <td>{{supplier.code}}</td>
                        <td>{{supplier.name}}</td>
                        <td>{{supplier.address}}</td>
                        <td>{{supplier.email}}</td>
                        <td>{{supplier.tel}}</td>
                        <td>
                            <button ng-click="openEdit(supplier)" class="md-fab md-mini md-primary md-button "
                                type="button" aria-label="Add">
                                <md-icon class=" material-icons" role="img" aria-hidden="true">edit</md-icon>
                            </button>
                            <button ng-click="showConfirm($event,supplier)" class="md-fab md-mini md-primary md-button"
                                type="button" aria-label="Remove">
                                <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{suppliers.length}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-on-paginate="logPagination" md-label="{rowsPerPage: 'Rows per page'}">
        </md-table-pagination>
    </md-card>
</div>