<div id="content" class="container-fluid" ng-controller="UnitController as vm">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{vm.appTitle}}</h1>
    </div>
    <md-card>
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>
            <form name="unitForm">
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Code</label>
                        <input ng-model="vm.unit.code" required flex-gt-sm>
                    </md-input-container>
                    <span ng-show="unitForm.vm.unit.code.$touched && unitForm.vm.unit.code.$invalid">The code is
                        required.</span>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Name</label>
                        <input ng-model="vm.unit.name" required flex-gt-sm>
                    </md-input-container>
                    <span ng-show="unitForm.vm.unit.name.$touched && unitForm.vm.unit.name.$invalid">The name is
                        required.</span>
                </div>
            </form>
        </md-card-content>
    </md-card>
    <div layout="row" layout-xs="column">
        <span id="loading_submit" style="visibility: hidden;">Please wait...</span>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="unit()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            <span translate>Save</span>
        </md-button>
        <a href="index.html#!/units">
            <md-button aria-label="Add">
                <md-icon>close</md-icon>
                <span translate>Cancel</span>
            </md-button>
        </a>
    </div>
</div>